/*general*/
.padding-16 {
  padding: 16px;
}
.padding-8 {
  padding: 8px;
} 
body{
    font-family: "Roboto";
    margin: 0; 
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex-grow{
  flex-grow: 1;
}
.search{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
/*colores*/
.ml-yellow-text {
    color: #eac926;
  }
  .ml-blue-text {
    color: #03264c;
  }
  .ml-lb-text {
    color: #1259c3;
  }
  .ml-dark-text {
    color: #666;
  }
  .ml-light-text {
    color: #ebebeb;
  }
  .ml-green-text {
    color: #39b54a;
  }
  .ml-yellow-bg {
    background-color: #eac926;
  }
  .ml-blue-bg {
    background-color: #03264c;
  }
  .ml-lb-bg {
    background-color: #1259c3;
  }
  .ml-dark-bg {
    background-color: #666;
  }
  .ml-light-bg {
    background-color: #ebebeb;
  }
  .ml-green-bg {
    background-color: #39b54a;
  }

.text-center{
    text-align: center;
}
.burger-menu {
    text-align: center;
    font-size: 24px;
    width: 40px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 5px;
  }
/*detalles y titulos*/
.header-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.header-contain{
  width: 100%;
  flex-direction: column;
  display: flex;
}
.text-contain{
  width: 100%
}
.pagos {
    text-align: center;
}
.cuerpoTexto{
    font-size: 12px;
}
.title{
    font-size: 24px;

}.price{
    font-size: 18px;
    align-self: flex-end;
    width: 30%;
}
.discount{
    font-size: 16px;
    align-self: flex-end;
}
.description{
    font-size: 16px;
    display: none;
}
li {
    list-style: none;
}
.link {
    text-decoration: none;
    color: #03264C
}
.ml-main-nav-ul {
 display: none;
}
.banner {
  width: 100%;
}
.padding {
  padding: 24px;
}
#main-content {
  padding: 0 5%;
}
.product-content{
  position: relative;
  border: 1px solid #ebebeb;
  margin-bottom: 10px;
  margin-top: 10px;
  margin: 5px;
  transition: box-shadow .2s;
}
.product-content:hover{
  box-shadow: 0 0 11px rgba(33, 33, 33, .5);
}
.product-content:hover .description{
  display: block;

}
.product-image {
  border-bottom: 1px solid #ebebeb;
  position: relative;
}
.truck-icon {
  font-size: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  border-radius: 50%;
  position: absolute;
  right: 40px;
  bottom: -15px;
  
}
.truck-icon:hover{
  transform: rotate(-360deg);
  transition: all 0.5s;
}



.form-input{
  display: block;
  width: 100%;
  font-size: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.radio-label{
  display: flex;
  flex-direction: row;

}
.radio-contain{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
}
.checkbox{
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}
.input{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.button{
  text-align: center;
  border-radius: 5px;
  display: block;
}
.button2{
  width: 80%;
}
.button2:hover{
  background-color: #0022AA;
}
.icono{
  margin-bottom: 10px;
  font-size: 2em;
  margin-top: 15px;
  color: #1259c3;
}
.icono:hover{
  color: #39b54a;
}
.button-contain{
  display: flex;
  flex-direction: wrap;
}
.margin{
  margin: 15px;
}


    